body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 500px;
    border-left: 5px solid #FF7F32;  /* Laranja */
}

h1 {
    text-align: center;
    color: #FF7F32;  /* Laranja */
}

.request-options, .input-data, .key-value-form, .response-format {
    margin-bottom: 15px;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FF7F32;  /* Laranja */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e56a24;
}

.key-value-form .form-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.key-value-form input {
    width: 45%;
}

.key-value-form button {
    width: 10%;
}

.response {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

#status-code {
    font-weight: bold;
    font-size: 20px;
    color: #FF7F32;  /* Laranja */
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.response-200 {
    color: green;
}

.response-404 {
    color: red;
}